.main-page {
  
  display:flex;
  flex-direction:column;
}

.logo{
  width:150px;
  display:flex;
}

.main-content-container{
  display:flex;
  flex-direction:row;
}

.nav{
  background-color:white;
  width:100%;
  display:flex;
  margin-inline: 5px;
}


.logo-and-name {
  margin-top: 16px;
  margin-bottom: 16px;
  display:inline-flex;
  justify-content: center;
}

.tab{
  border: transparent;
  border-bottom: 2px solid;
  border-radius: 2px 2px 0px 0px;
  border-color: #DCE2E8;
  background: #fff;
  height: 35px;
  flex:1;
}

.tab-active{
  border-radius: 2px 2px 0px 0px;
  border-style: solid;
  border: transparent;
  border-bottom: 2px solid;
  border-color: #5A73C5;
  background: #fff;
  flex:1;
  /* transition: border-color 0.15s ease-in-out; */
}

@media only screen and (min-width: 600px) {
  .nav{
    display: none !important;
  }
}


